<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"  >
<mapper namespace="com.example.courses.music.mapper.CommonMapper">
    <!--+1-->
    <update id="incrementCount">
        update ${table}
        set ${field} = ${field} + 1
        where id = '${id}'
    </update>

    <!-- -1 -->
    <update id="decrementCount">
        update ${table}
        set ${field} = ${field} - 1
        where id = '${id}'
        and ${field} > 0
    </update>
</mapper>