<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>【爱学啊】邮箱验证</title>
</head>
<body>
<body role="listitem" tabindex="0">


<div class="netease_mail_readhtml netease_mail_readhtml_webmail" id="content">


    <div lang="en"
         style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; box-sizing: border-box;"
         xml:lang="en"
         xmlns="http://www.w3.org/1999/xhtml">


        <div bgcolor="#fff"
             style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.5; color: #24292e; background-color: #fff; margin: 0;">
            <table align="center" class="container-sm width-full"
                   style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; max-width: 544px; margin-right: auto; margin-left: auto; width: 100% !important; font-family: -apple-system,BlinkMacSystemFont;"
                   width="100%">
                <tbody>
                <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                    <td align="center" class="center p-3"
                        style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 16px;"
                        valign="top">
                        <center style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                   class="width-full container-md"
                                   style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; max-width: 768px; margin-right: auto; margin-left: auto; width: 100% !important; font-family: -apple-system,BlinkMacSystemFont;"
                                   width="100%">
                                <tbody>
                                <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                    <td align="center"
                                        style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                <td height="16"
                                                    style="font-size: 16px; line-height: 16px; box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                               style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;"
                                               width="100%">
                                            <tbody>
                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                <td align="center"
                                                    class="text-center"
                                                    style="box-sizing: border-box; text-align: center !important; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                    <img alt="GitHub"
                                                         src="https://github.githubassets.com/images/email/global/octocat-logo.png"
                                                         style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; border-style: none;"
                                                         width="32">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                <td height="16"
                                                    style="font-size: 16px; line-height: 16px; box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="width-full"
                                   style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; width: 100% !important; font-family: -apple-system,BlinkMacSystemFont;"
                                   width="100%">
                                <tbody>
                                <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                    <td class="border rounded-2 d-block"
                                        style="box-sizing: border-box; border-radius: 6px !important; display: block !important; font-family: -apple-system,BlinkMacSystemFont; padding: 0; border: 1px solid #e1e4e8;">
                                        <table align="center" class="width-full text-center"
                                               style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; width: 100% !important; text-align: center !important; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tbody>
                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                <td class="p-3 p-sm-4"
                                                    style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 24px;">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                           class="width-full"
                                                           style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; width: 100% !important; font-family: -apple-system,BlinkMacSystemFont;"
                                                           width="100%">
                                                        <tbody>
                                                        <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                            <td align="center"
                                                                style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">

                                                                <h3 class="lh-condensed"
                                                                    style="box-sizing: border-box; margin-top: 0; margin-bottom: 0; font-size: 20px; font-weight: 600; line-height: 1.25 !important; font-family: -apple-system,BlinkMacSystemFont;">
                                                                    确认邮件地址</h3>
                                                                <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                                                    <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                    <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                        <td height="16"
                                                                            style="font-size: 16px; line-height: 16px; box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                                            &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>


                                                                <table class="width-full"
                                                                       style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; width: 100% !important; font-family: -apple-system,BlinkMacSystemFont;">
                                                                    <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                    <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">

                                                                        <td style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                                            <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                <tbody>
                                                                                <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                    <td align="left"
                                                                                        class="text-left"
                                                                                        style="box-sizing: border-box; text-align: left !important; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                                                        <p style="box-sizing: border-box; margin-top: 0; margin-bottom: 10px; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                            你好
                                                                                            <strong
                                                                                                    class="text-gray-dark"
                                                                                                    style="color: #24292e !important"
                                                                                                    th:text="${nickname}">爱学啊
                                                                                            </strong>,
                                                                                            感谢你注册爱学啊! </br>
                                                                                            为了你的账户安全,请确认你的邮件地址:
                                                                                            <span th:text="${email}">ixuedev@163.com</span>
                                                                                        </p>
                                                                                        <table align="center"
                                                                                               border="0"
                                                                                               cellpadding="0"
                                                                                               cellspacing="0"
                                                                                               class="width-full"
                                                                                               style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; width: 100% !important; font-family: -apple-system,BlinkMacSystemFont;"
                                                                                               width="100%">
                                                                                            <tbody>
                                                                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                                <td align="center"
                                                                                                    style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                                                                    <table border="0"
                                                                                                           cellpadding="0"
                                                                                                           cellspacing="0"
                                                                                                           style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;"
                                                                                                           width="100%">
                                                                                                        <tbody>
                                                                                                        <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                                            <td style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                                                                                <table border="0"
                                                                                                                       cellpadding="0"
                                                                                                                       cellspacing="0"
                                                                                                                       style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;"
                                                                                                                       width="100%">
                                                                                                                    <tbody>
                                                                                                                    <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                                                        <td align="center"
                                                                                                                            style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                                                                                            <a class="btn btn-primary btn-large"
                                                                                                                               href="https://www.ixuea.com"
                                                                                                                               style="background-color: #28a745 !important; box-sizing: border-box; color: #fff; text-decoration: none; position: relative; display: inline-block; font-size: inherit; font-weight: 500; line-height: 1.5; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; user-select: none; border-radius: .5em; -webkit-appearance: none; appearance: none; box-shadow: 0 1px 0 rgba(27,31,35,.1),inset 0 1px 0 rgba(255,255,255,.03); transition: background-color .2s cubic-bezier(0.3, 0, 0.5, 1); font-family: -apple-system,BlinkMacSystemFont; padding: .75em 1.5em; border: 1px solid #28a745;"
                                                                                                                               target="_blank"
                                                                                                                               th:href="${confirmUrl}">
                                                                                                                                点击确认邮件地址
                                                                                                                            </a>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        </tbody>
                                                                                                    </table>

                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>

                                                                                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                            <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                                                                <td height="16"
                                                                                                    style="font-size: 16px; line-height: 16px; box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>


                                                                                        <p style="box-sizing: border-box; margin-top: 0; margin-bottom: 10px; font-family: -apple-system,BlinkMacSystemFont;color: #586069 !important;">
                                                                                            按钮不工作? 请在浏览器中打开该链接:
                                                                                            <a href="https://www.ixuea.com"
                                                                                               style="background-color: transparent; box-sizing: border-box; color: #0366d6; text-decoration: none; font-family: -apple-system,BlinkMacSystemFont;"
                                                                                               target="_blank"
                                                                                               th:href="${confirmUrl}"
                                                                                               th:text="${confirmUrl}">https://www.ixuea.com</a>
                                                                                        </p>

                                                                                    </td>
                                                                                    <td style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>

                                                                    </tr>
                                                                    </tbody>
                                                                </table>


                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                   class="width-full text-center"
                                   style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; width: 100% !important; text-align: center !important; font-family: -apple-system,BlinkMacSystemFont;"
                                   width="100%">
                                <tbody>
                                <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                    <td align="center"
                                        style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                <td height="16"
                                                    style="font-size: 16px; line-height: 16px; box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                <td height="16"
                                                    style="font-size: 16px; line-height: 16px; box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <p class="f5 text-gray-light"
                                           style="box-sizing: border-box; margin-top: 0; margin-bottom: 10px; color: #6a737d !important; font-size: 14px !important; font-family: -apple-system,BlinkMacSystemFont;">
                                            接收到这个邮件，是因为你注册<a href="https://www.ixuea.com" target="_blank">爱学啊</a>，如果这不是你操作，请忽略.
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                   class="width-full text-center"
                                   style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; width: 100% !important; text-align: center !important; font-family: -apple-system,BlinkMacSystemFont;"
                                   width="100%">
                                <tbody>
                                <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                    <td align="center"
                                        style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tbody style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                            <tr style="box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont;">
                                                <td height="16"
                                                    style="font-size: 16px; line-height: 16px; box-sizing: border-box; font-family: -apple-system,BlinkMacSystemFont; padding: 0;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <p class="f6 text-gray-light"
                                           style="box-sizing: border-box; margin-top: 0; margin-bottom: 10px; color: #6a737d !important; font-size: 12px !important; font-family: -apple-system,BlinkMacSystemFont;">
                                            © 2023 Ixuea, Inc. | 人生苦短, 只做好课
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </center>
                    </td>
                </tr>
                </tbody>
            </table>

            <div style="display: none; white-space: nowrap; box-sizing: border-box;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
        </div>
    </div>


    <div style="clear:both;height:1px;"></div>
</div>
<style>
    * {
        white-space: normal !important;
        word-break: break-word !important;
    }

    body {
        font-size: 14px;
        font-family: arial, verdana, sans-serif;
        line-height: 1.666;
        padding: 0;
        margin: 0;
        overflow: auto;
        white-space: normal;
        word-wrap: break-word;
        min-height: 100px
    }

    td, input, button, select, body {
        font-family: Helvetica, 'Microsoft Yahei', verdana
    }

    pre {
        white-space: pre-wrap !important;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        width: 95%
    }

    pre * {
        white-space: unset !important;
    }

    th, td {
        font-family: arial, verdana, sans-serif;
        line-height: 1.666
    }

    img {
        border: 0
    }

    header, footer, section, aside, article, nav, hgroup, figure, figcaption {
        display: block
    }

    blockquote {
        margin-right: 0px
    }

    a {
        text-decoration: none;
    }
</style>


<style id="ntes_link_color" type="text/css">a, td a {
    color: #3370FF
}</style>

</body>
</body>
</html>